100daysofcode/32_mail_automation/__pycache__/settings.cpython-310.pyc
100daysofcode/32_mail_automation/birthdaywishes/__pycache__/settings.cpython-310.pyc
100daysofcode/34_api_quiz_game/__pycache__/data.cpython-310.pyc
100daysofcode/34_api_quiz_game/__pycache__/question_model.cpython-310.pyc
100daysofcode/34_api_quiz_game/__pycache__/quiz_brain.cpython-310.pyc
